@*@model InventoryTrackWeb.Models.ViewModels.ProductViewModels*@
@model InventoryTrackWeb.Models.Product

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar @Html.DisplayFor(model => model.ProductName)</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-labe"></label>
                <input asp-for="Stock" class="form-control" type="text" min="0" onkeyup="multiplyCostSaleTotal()" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" data-val="false" />
            </div>
            <div class="form-group">
                <label asp-for="UnitCost" class="control-label"></label>
                <input asp-for="UnitCost" class="form-control" onkeyup="multiplyUnitCostSale(); multiplyCostSaleTotal()" />
                <span asp-validation-for="UnitCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCostSale" class="control-label"></label>
                <input asp-for="UnitCostSale" class="form-control" onkeyup="multiplyUnitCostSale(); multiplyCostSaleTotal()" />
                <span asp-validation-for="UnitCostSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostSaleTotal" class="control-label"></label>
                <input asp-for="CostSaleTotal" class="form-control" />
                <span asp-validation-for="CostSaleTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="ProductId" />
                        <button type="submit" class="btn btn-success active">Guardar</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form asp-action="List">
                        <input type="hidden" asp-for="ProductId" />
                        <button type="submit" class="btn btn-primary active">Atras</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function multiplyUnitCostSale() {
            var unitCost = document.getElementById("UnitCost").value;
            var unitCostSale = document.getElementById("UnitCostSale").value;
            var total = unitCost * unitCostSale;
            console.log(unitCost)
            console.log(unitCostSale)
            console.log("Resultado de Total: " + total)
            $("#Total").val(total);
        }

        function multiplyCostSaleTotal() {
            var stock = document.getElementById("Stock").value;
            var unitCost = document.getElementById("UnitCost").value;
            var unitCostSale = document.getElementById("UnitCostSale").value;
            var total = unitCost * unitCostSale;
            console.log(unitCost)
            console.log(unitCostSale)
            console.log("Resultado de costo Total: " + total)
            $("#CostSaleTotal").val(total * stock);
        }
    </script>
}
